body {
    font-family: monospace;
    font-weight: lighter;
    letter-spacing: 2px;
    color: rgb(28, 207, 28);
    background-color: rgb(15, 15, 15);
}

.center {
    text-align: center;
}

pre {
    max-height: 200px;
    overflow-y: auto;
    max-width: 80%;
}

#file-upload {
    display: none;
}

.custom-file-upload,
button {
    font-family: monospace;
    letter-spacing: 2px;
    background-color: #000;
    padding: 5px;
    border: 1px solid #888;
    border-radius: 6px;
    color: rgb(28, 207, 28);
    cursor: pointer;
}

.disabled {
    color: rgba(28, 207, 28, 0.5)
}

.spin {
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

input {
    background-color: black !important;
}

#image {
    border: 1px solid #888;
    border-radius: 8px;
    max-width: 80%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

p {
    color: rgba(255, 255, 255, 0.383);
}

footer {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

a {
    text-decoration: none;
    color: aqua;
}

.fa-heart {
    color: red;
}